.HotDealsRow{
    white-space: nowrap; //have no effect
        overflow: hidden;
    scroll-behavior: smooth;
}
.HotDealProductCard{
    width: 18rem !important;
}
.HotDealsItem{
    display: inline-block; //have no effect
}
.HotDealsProgress{
    height: 0.4rem !important;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
  a{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;  
  }
  .HotDeals-arrow-left, .HotDeals-arrow-right{
    cursor: pointer;;
  }
  .HotDeals-img{
    width: 5%;
  }