.about-icon{
    width: 15rem;
    height: 15rem;
}
.about-statics-icon{
    width: 5rem;
    height: 5rem;
}
.fit-content{
    width: fit-content;
    height: fit-content;
}
.flex-45{
    flex: 45%;
}
.about-story-img{
    width: 15rem;
}