.Account-firstInput{
    height: 3rem;
}
.Account-Logo{
    width: 6rem;
    height: auto;
}
.Link{
    color: rgb(10,132,255) !important;
    cursor: pointer;
}
.Link:hover{
    color: rgb(0, 105, 210) !important;
    cursor: pointer;
}
.account-otp-resend{
    margin-top: 0.18rem;
    height: fit-content;
}