.FAQsSearch {
  width: 30rem !important;
}

a {
  color: black !important;
  text-decoration: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
h6:hover {
  color: #ffc720;
  transition: all 300ms;
}
.FAQs-Container{
    
}