.card-img-top {
  width: 10rem !important;
height: 10rem;
object-fit: contain;
}
.ProductCard:hover {
  box-shadow: inset 0 0 0.5rem #ffc107;
  transition: all 300ms;
}
.ProductItem{
  color: inherit;
  text-decoration: none;
}
.ProductItem:hover{
  color: inherit;
}

.card-text{
  white-space: wrap; 
  height: 8rem;
  overflow: hidden;
  text-overflow: ellipsis; 
}


@media only screen and (min-width: 1008px) {
  .card {
    width: 20rem;
    flex: 1 0 20% !important;
  }
}
@media only screen and (max-width: 1007px) {
  .card {
    width: 20rem;
    flex: 1 0 30% !important;
  }
}
@media only screen and (max-width: 640px) {
  .card {
    width: 20rem;
    flex: 1 0 100% !important;
  }
}
