@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules//bootstrap/scss/variables";
@import "../../../node_modules//bootstrap/scss/mixins";

@font-face {
  font-family: "san-francisco";
  src: url(../SFNSText-Regular.otf);
}

$body-font-family: "san-francisco";

$link-decoration: none;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
