@import "../../node_modules//bootstrap/scss/functions";
@import "../../node_modules//bootstrap/scss/variables";
@import "../../node_modules//bootstrap/scss/mixins";

@font-face {
  font-family: "san-francisco";
  src: url(./SFNSText-Regular.otf);
}

body {
  font-family: "san-francisco", Helvetica, sans-serif;
  .App {
    transition: all 0.3s;
  }
}

.dark {
  $enable-gradients: true;

  $link-decoration: none;

  $background: #000;
  $text: #fff;
  $text-secondary: rgba(235, 235, 245, 0.6);
  $background-secondary: #1c1c1e;
  $input: rgba(118, 118, 128, 0.6);
  $divider: rgba(84, 84, 88, 0.65);
  $material: #1d1d1d;
  $link: #147efb;

  $body-color: $text;
  $body-bg: $background;

  $input-focus-color: $text;
  $input-placeholder-color: $text-muted;

  $hr-color: $divider;

  
  $blue: #0d6efd;
  $indigo: #6610f2;
  $purple: #6f42c1;
  $pink: #d63384;
  $red: #dc3545;
  $orange: #fd7e14;
  $yellow: rgb(255, 214, 10);
  $green: rgb(49, 209, 88);
  $teal: #20c997;
  $cyan: #0dcaf0;

  $primary: $blue;
  $secondary: $text-secondary;
  $success: $green;
  $info: $cyan;
  $warning: $yellow;
  $danger: $red;
  $light: $background-secondary;
  $dark: $text;

  $white: #000;
  $gray-100: #f8f9fa;
  $gray-200: #e9ecef;
  $gray-300: #dee2e6;
  $gray-400: #ced4da;
  $gray-500: #adb5bd;
  $gray-600: #6c757d;
  $gray-700: #495057;
  $gray-800: #343a40;
  $gray-900: #212529;
  $black: #000;

  $theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "white": $white,
    "link": $link,
    "background-secondary": $background-secondary,
    "material": $material,
    'input': $input,
    'divider': $divider,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};

  $input-focus-bg: $input;

  .App {
    transition: all 0.5s;
    font-family: "san-francisco", Helvetica, sans-serif;

    .Account-Logo {
      filter: invert(100%);
    }
    .job-card:hover {
      box-shadow: 0 0 0.5rem #fff;
      transition: all 0.3s;
    }
  }

  @import "../../node_modules/bootstrap/scss/bootstrap.scss";
}
