@font-face {
    font-family: 'san-francisco-bold';
    src: url(../../SFNSDisplay-Bold.otf);
}

//Colors
$background: #353535;
$background-secondary: #1c1c1e;
$yellow: #f5a52c;
$brown: #352b21;


.jobs-container-left{
    background-color: $brown !important;
    color: $yellow;
    font-size: larger;
    font-weight: bolder;
    
}
.jobs-container-right{
    background-color: $yellow;
    color: $brown;
}
.jobs-container-right-p{
    color: $brown !important;
}
.jobs-menu{
    background-color: $background;
    height: fit-content;
}
.jobs-right-filter{
    background-color: $background;
}
.job-card{
    background-color: $background;
    height: 15rem;
}
.job-card{
    flex: 45%;
}
.jobs-right-filter{
    width: 23%;
    height: 20rem;
}
.jobs-pagination{
    background-color: $background;
}
.jobs-container-right-icon{
    width: 10rem;
    height: auto;
}
.jobs-search{
    background-color: $background;
}
.jobs-search:focus{
    background-color: $background;
}
.job-card-img{
    width: 2rem;
    height: 2rem;
}
.job-card-Icon{
    width: 1rem;
    height: 1rem;
}
.job-card:hover{
    box-shadow: 0 0 01rem #000;
    transition: all 0.3s;
}